body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #50b3a2;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    padding: 0;
    list-style: none;
    background: #333;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #50b3a2;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
